html {
  background-color: #FFE;
  border: 15px solid black;
  margin: 0px;
}

body {
  margin: 80px 120px;
}


h3 {
  color: #887;
  font-size: 28px;
  font-family: verdana;
}

h2 {
  font-size: 42px;
  font-family: helvetica;

}

h1 {
  font-size: 68px;
  font-family: helvetica;
  text-align: center;
}

a {
  color: #900;
}

img{
  border: 5px solid black;
  margin: 50px 0px 25px 0px;
}
